# PostgreSQL
POSTGRES_DB=tama_hidrovias
POSTGRES_USER=strapi
POSTGRES_PASSWORD=strapi_password

# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS=generateThisRandomly1,generateThisRandomly2
API_TOKEN_SALT=generateThisRandomly
ADMIN_JWT_SECRET=generateThisRandomly
TRANSFER_TOKEN_SALT=generateThisRandomly
JWT_SECRET=generateThisRandomly
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=tama_hidrovias
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi_password
DATABASE_SSL=false

# Next.js
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_public_token
NEXT_PUBLIC_STRAPI_URL=http://strapi:1333
NEXT_PUBLIC_TILESERVER_URL=http://tileserver:8083
NEXTAUTH_URL=http://localhost:3003
NEXTAUTH_SECRET=generateThisRandomly
STRAPI_API_TOKEN=your_strapi_full_access_token

# Python pipeline
STRAPI_URL=http://strapi:1333
STRAPI_API_TOKEN=your_strapi_full_access_token
CDS_API_KEY=your_copernicus_cds_api_key
DATA_OUTPUT_DIR=/data
BASIN_SHAPEFILE=/data/shapefiles/basin.shp
