NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_TILESERVER_URL=http://localhost:8080
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here
FAKE_AUTH=false
